HELP.md
build/
!**/src/main/**
!**/src/test/**
*.class
*.DS_Store

### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar
/.gradle/
/gradle/
/target/
*.fpr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
